@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.container {
  margin-top: 100px;
  display: flex;
  @include center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;

  .containerCard {
    background-color: white;
    padding: 15px;
    display: flex;
    @include center;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px;

    img {
      width: 60%;
    }

    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .containerCard {
    width: 40%;

    h1 {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    .containerCard {
      width: 60%;
    }
  }
}

@media (max-width: 425px) {
  .container {
    .containerCard {
      width: 70%;
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
