@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

footer {
  background-color: $bg-color-secundary;
  z-index: 100;
  margin-top: 30px;
  color: $bg-color;

  .footer01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    .logoFooter img {
      width: 200px;
    }
    .icons {
      gap: 20px;
      display: flex;
      
      a img {
        width: 50px;
      }
    }
  }
  .footer2 {
    color: $bg-color-secundary;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bolder;
  }
}
